<div class="palette_of_the_day_card">
    <div class="colour" style="background-color: <%= palette.colours[0].hex_code %>">
      <a class="palette_link" href="<%= palette_path(palette) %>">
        <span class="colour_hex">
          <%= palette.colours[0].hex_code %>
        </span>
      </a>
    </div>

    <div class="colour" style="background-color: <%= palette.colours[1].hex_code %>">
      <a class="palette_link" href="<%= palette_path(palette) %>">
        <span class="colour_hex">
          <%= palette.colours[1].hex_code %>
        </span>
      </a>
    </div>

    <div class="colour" style="background-color: <%= palette.colours[2].hex_code %>">
      <a class="palette_link" href="<%= palette_path(palette) %>">
        <span class="colour_hex">
          <%= palette.colours[2].hex_code %>
        </span>
      </a>
    </div>

    <div class="colour" style="background-color: <%= palette.colours[3].hex_code %>">
      <a class="palette_link" href="<%= palette_path(palette) %>">
        <span class="colour_hex">
          <%= palette.colours[3].hex_code %>
        </span>
      </a>
    </div>
</div>
