<div class="palette_card <%= palette_card_class %>">
  <div class="palette <%= palette_container_class %>">
    <% palette.colours.each do |colour| %>
      <div class="colour" style="background-color: <%= colour.hex_code %>">
        <a class="palette_link" href="<%= palette_path(palette) %>">
          <span class="colour_hex">
            <%= colour.hex_code %>
          </span>
        </a>
      </div>
    <% end %>
  </div>

  <div class="like_container">

    <a class="" href="<%= palette_path(palette) %>">
      <% if palette.likes.find_by(user_id: @user.id) %>
        <i class="fas fa-heart"></i>
      <% else %>
        <i class="far fa-heart"></i>
      <% end %>
    </a>

    <span class="likes_number">
      <%= palette.likes.count %>
    </span>
  </div>

  <div class="comment_container">
    <i class="far fa-comment"></i>
    <span class="comments_number">
      <%= palette.comments.count %>
    </span>
  </div>

  <div class="card_info">
    <div class="palette_title">
      <h5><%= palette.title %></h5>
    </div>
    <div class="card_date_container">
      <% user = User.find(palette.user_id) %>
      <span class="date">
        <%= palette.created_at.strftime("%d/%m/%Y") %>
      </span>
    </div>
  </div>
</div>
