<div class="home_page_wrapper">
  <div class="potd_card">
      <h4>
        PALETTE OF THE DAY
      </h4>
      <% if Palette.palette_of_the_day != nil%>
      <% Palette.palette_of_the_day.each do |palette| %>
        <%= render :partial => 'palette-of-the-day', :locals => { :palette => palette } %>
      <% end %>
      <% end %>
  </div>
  <% @palettes.each do |palette| %>
    <% if palette.colours.size == 4 %>
      <%= render :partial => 'palette_card', :locals => {
                :palette => palette,
                :palette_card_class => 'palette_card_four_five ',
                :palette_container_class => 'palette_four'
      } %>
    <% elsif palette.colours.size == 5 %>
      <%= render :partial => 'palette_card', :locals => {
                :palette => palette,
                :palette_card_class => 'palette_card_four_five ',
                :palette_container_class => 'palette_five'
      } %>

    <% elsif palette.colours.size == 6 %>
      <%= render :partial => 'palette_card', :locals => {
                :palette => palette,
                :palette_card_class => 'palette_card_six_seven ',
                :palette_container_class => 'palette_six'
      } %>
    <% elsif palette.colours.size == 7 %>
      <%= render :partial => 'palette_card', :locals => {
                :palette => palette,
                :palette_card_class => 'palette_card_six_seven ',
                :palette_container_class => 'palette_seven'
      } %>
    <% elsif palette.colours.size == 8 %>
      <%= render :partial => 'palette_card', :locals => {
                :palette => palette,
                :palette_card_class => 'palette_card_eight_nine ',
                :palette_container_class => 'palette_eight'
      } %>
    <% elsif palette.colours.size == 9 %>
      <%= render :partial => 'palette_card', :locals => {
                :palette => palette,
                :palette_card_class => 'palette_card_eight_nine ',
                :palette_container_class => 'palette_nine'
      } %>
    <% elsif palette.colours.size == 10 %>
      <%= render :partial => 'palette_card', :locals => {
                :palette => palette,
                :palette_card_class => 'palette_card_eight_nine ',
                :palette_container_class => 'palette_ten'
      } %>
    <% end %>
  <% end %>
</div>
