<br />
<div class="more_square">
  <% @palette.colours.each do |c| %>
    <p class="square" style="background-color: <%= c.hex_code %>">
      <div class="show"><%= c.hex_code %></div>
    </p>
  <%end%>
</div>

<br />
<div class="more_square">
  <%= form_tag new_comment_path do %>
    <%= hidden_field_tag :comment_id, @comment_id %>
    <%= text_area_tag 'comment', nil, placeholder: 'Enter your comment'%>
    <%= submit_tag %>
  <% end %>
</div>
<br />
<div class="more_square">
<% @palette.comments.each do |com| %>
  <p><%= com.user.username %>: <%=com.comment%></p>
<%end%>
</div>

<% already_liked = @palette.likes.find_by(user_id: @user.id)%>
<% if already_liked%>
<%= button_to 'Unlike', palette_like_path(@palette), method: :delete %>
<% else %>
<%= button_to 'Like', palette_likes_path(@palette), method: :post %>
<% end %>


Likes: <%= @palette.likes.count %>
<br />
