<div class="palette_show_wrapper">
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="palette_info">
        <div class="palette_title">
          <h2 class="title is-3"><%= @palette.title %></h2>
        </div>
        <div class="user_info">
          <a href="<%= user_path(@palette.user) %>" class="username is-link">
            @<%= @palette.user.username %>
          </a>
          <div class="date">
            <span><%= @palette.created_at.strftime("%d/%m/%Y") %></span>
          </div>
        </div>
      </div>

      <div class="show_page_palette">
        <% @palette.colours.each do |colour|%>
          <div class="show_page_colour" style="background: <%= colour.hex_code %>;">
              <span class="colour_hex"><%= colour.hex_code %></span>
          </div>
        <% end %>
      </div>
      <div class="likes_container">
        <% already_liked = @palette.likes.find_by(user_id: @user.id)%>
        <% if already_liked%>
          <%= button_to 'Unlike', palette_like_path(@palette), method: :delete, class: "button is-link" %>
        <% else %>
          <%= button_to 'Like', palette_likes_path(@palette), method: :post, class: "button is-link" %>
        <% end %>
      </div>
      <div class="comments_container">
        <%= form_for [@palette, @comment], html: { class: "fields" } do |f| %>
          <%= f.hidden_field(:user_id, user_id: current_user.id) %>
          <%= hidden_field_tag :user_id, id: current_user.id %>
          <%= hidden_field_tag :palette_id, id: @palette.id %>
          <div class="field">
            <%= f.text_area :comment, placeholder: "Enter Comment", class: "textarea is-primary" %>
          </div>
          <div class="field">
            <%= submit_tag 'Comment', class: "button is-primary" %>
          </div>
        <% end %>

          <% @palette.comments.each do |c| %>
            <div class="comments">
              <div class="box">
                <div class="media">
                  <div class="media-content">
                    <div class="content is-half">
                      <%= link_to c.user.username, user_path(c.user), class: 'comment_username is-link' %>
                      <p>
                        <%= c.comment %>
                      </p>
                      <% if current_user %>
                        <%= button_to 'delete', palette_comment_path(@palette), method: :delete, class: "delete_button is-link" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
