
<div class="user_show_page">
  <div class="user__info">
    <div class="info_wrapper">
    <div class="user_wrapper">
      <p> Name</p>
      <h2><%= @theuser.first_name %> <%= @theuser.last_name %></h2>
      <p>Username</p>
      <h4>@<%= @theuser.username %></h4>
      <div class="bio_wrapper">
        <p class="bio_title is-size-6">Bio</p>
        <p class="is-size-7 user_bio"><%= @theuser.bio %></p>
      </div>
      <div class="buttons">
        <% if current_user.id == @theuser.id %>
          <%= link_to 'likes', user_path(id: @theuser.id, button: 'liked'), class: 'is-info button is-small'%>
          <%= link_to 'palettes', user_path(id: @theuser.id), class: 'is-info button is-small'%>
          <%= button_to("edit", edit_user_path, method: :get, class: "button is-info is-small") %>
          <%= button_to("logout", logout_path, method: :delete, class: "button is-warning is-small") %>
        <% end %>
      </div>
    </div>
    </div>
  </div>
  <div class="palettes_wrapper">

    <% @user_palettes.each do |palette| %>
      <!-- RENDERING PALETTES BASED ON SIZE -->
      <% if palette.colours.size == 4 %>
        <%= render :partial => 'user_palette_card', :locals => {
                  :palette => palette,
                  :user => @theuser,
                  :palette_card_class => 'palette_card_four_five ',
                  :palette_container_class => 'palette_four'
        } %>
        <% elsif palette.colours.size == 5 %>
          <%= render :partial => 'user_palette_card', :locals => {
                    :palette => palette,
                    :user => @theuser,
                    :palette_card_class => 'palette_card_four_five ',
                    :palette_container_class => 'palette_five'
          } %>
        <% elsif palette.colours.size == 6 %>
          <%= render :partial => 'user_palette_card', :locals => {
                    :palette => palette,
                    :user => @theuser,
                    :palette_card_class => 'palette_card_six_seven',
                    :palette_container_class => 'palette_six'
          } %>
        <% elsif palette.colours.size == 7 %>
          <%= render :partial => 'user_palette_card', :locals => {
                    :palette => palette,
                    :user => @theuser,
                    :palette_card_class => 'palette_card_six_seven',
                    :palette_container_class => 'palette_seven'
          } %>
        <% elsif palette.colours.size == 8 %>
          <%= render :partial => 'user_palette_card', :locals => {
                    :palette => palette,
                    :user => @theuser,
                    :palette_card_class => 'palette_card_eight_nine',
                    :palette_container_class => 'palette_eight'
          } %>
        <% elsif palette.colours.size == 9 %>
          <%= render :partial => 'user_palette_card', :locals => {
                    :palette => palette,
                    :user => @theuser,
                    :palette_card_class => 'palette_card_eight_nine',
                    :palette_container_class => 'palette_nine'
          } %>
        <% elsif palette.colours.size == 10 %>
          <%= render :partial => 'user_palette_card', :locals => {
                    :palette => palette,
                    :user => @theuser,
                    :palette_card_class => 'palette_card_eight_nine',
                    :palette_container_class => 'palette_ten'
          } %>
      <% end %>
    <% end %>

    <% if @user_palettes.empty? %>
      <div class="no_palettes">
        <p class="is-size-4 mute">
          <%= "add some palettes to this lonely page :(" %>
        </p>
      </div>
    <% end %>
  </div>
</div>
