
<div class="user_show_page">
  <div class="user__info">
    <div class="info_wrapper">
    <div class="user_wrapper">
      <p> Name</p>
      <h2><%= @theuser.first_name %> <%= @theuser.last_name %></h2>
      <p>Username</p>
      <h4 >@<%= @theuser.username %></h4>
      <div class="bio_wrapper">
        <p class="bio_title is-size-6">Bio</p>
        <p class="is-size-6 user_bio"><%= @theuser.bio %></p>
      </div>
      <div class="buttons">
          <%= link_to 'likes', user_path(id: @theuser.id, button: 'liked'), class: 'is-info button is-small'%>
          <%= link_to 'palettes', user_path(id: @theuser.id), class: 'is-info button is-small'%>
          <% if current_user.id == @theuser.id %>
          <%= button_to("edit", edit_user_path, method: :get, class: "button is-info is-small") %>
          <%= button_to("logout", logout_path, method: :delete, class: "button is-warning is-small") %>
          <% end %>
      </div>
    </div>
    </div>
  </div>
  <div class="palettes_wrapper">

    <% @user_palettes.each do |palette| %>
      <!-- RENDERING PALETTES BASED ON SIZE -->
      <% if palette.colours.size == 4 %>
        <%= render :partial => 'palettes/palette_card', :locals => {
                  :palette => palette,
                  :palette_card_class => 'palette_card_four_five ',
                  :palette_container_class => 'palette_four'
        } %>
      <% elsif @user_palettes.empty? %>
        <%= "YOU HAVE NO PALETTES" %>
      <% end %>
    <% end %>

  </div>
</div>
