<!DOCTYPE html>
<html>
  <head>
    <title>PalettePal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://gist.githubusercontent.com/hcatlin/1027867/raw/dc4f0c2ebf8e58026e65edc9fbabe812c3621805/reset.scss', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://kit.fontawesome.com/d41441e6b8.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="wrapper">
      <nav class="navbar is-info" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <i class="fas fa-palette fa-3x"></i>
          </a>

          
        </div>
        <div class="level-item has-text-centered">
        <div>
          <p class="title">PALETTEPAL</p>
        </div>
        </div>

        
        <% if !logged_in? %>
        <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary" href="/users/new">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-link" href="/login">
                  Log in
                </a>
              </div>
            </div>
          </div>
        </div>
        
        <% else %>

        <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <%= button_to("Create Palette", new_palette_path(num: 4), method: :get, class: "button is-primary") %>
               
                <%= button_to("Logout", logout_path, method: :delete, class: "button is-warning") %>
              </div>
            </div>
          </div>
        
        
        <%end%>
      </nav>

      <% if flash[:errors] %>
          <% flash[:errors].each do |error| %>
          <div class="notification is-danger">
          <strong><%= error %></strong>
        </div>
      <% end %>

      <% if flash[:notice] %>
        <div class="notification is-danger">
          <% flash[:notice].each do |notice| %>
          <strong><%= notice %></strong>
        </div>
      <% end %>
      <% end %>
  
  <% end %>
      <%= yield %>
      <footer class="footer">
        <div class="columns">
          <div class="column">
            <p class="footer-link"><a href="#">About</a></p>
            <p class="footer-link"><a href="#">Help</a></p>
            <p class="footer-link"><a href="#">Terms</a></p>
          </div>
          <div class="column has-text-centered">
            This website is under the <a href="#">MIT</a> license.
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
